@mixin saturation($baseColor) {
  &.striped {
    background: repeating-radial-gradient(circle, $baseColor, $baseColor .2vh, white .2vh, white .4vh);

    &.rhombus {
      background: repeating-radial-gradient(circle, $baseColor, $baseColor .2vh, white .2vh, white .4vh)
    }
  }
  &.full {
    background-color: $baseColor;
  }
  &.empty {}
}

.m-card {

  // Flex
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.active {
    background-color: lightgrey;
  }

  &__formation {
    width: 3vh;
    height: 3vh;
    margin-bottom: 1.4vh;

    &:last-child {
      margin-bottom: 0;
    }

    // Colors & saturations
    &.red {
      border: 1px solid red;
      @include saturation(red);
    }

    &.green {
      border: 1px solid green;
      @include saturation(green);
    }

    &.blue {
      border: 1px solid blue;
      @include saturation(blue);
    }

    // Shapes
    &.rhombus {
      transform: rotate(45deg);
      width: 2.5vh;
      height: 2.5vh;
    }

    &.rectangle { }
    &.circle { border-radius: 50% }

  }


}
