.m-board {

  &__main {
    display: flex;
  }

  &__deckContainer {
    width: 20vh;
  }

  &__cardContainer {
    height: 53vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    card {
      margin-right: 1vmin
    }
  }

  &__setCounter {
    margin-top: 10px;
  }

}
